.pojedynczySamochod {
  background-color: bisque;
}
/*.container {*/
/*  background: rgb(1,1,1);*/
/*  background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(253,45,47,1) 100%);*/
/*}*/

.listaSamochodo {
  list-style-type: none;
}
 ul > li {
   display: inline-block;
   list-style-type:none;
}

 p{
   height: 40px;
 }
.card-img-top{
  height: 200px;
}
