  <div class="card container">
    <div class="card-header">
      <b>{{ marka }} {{ model }} </b> <span *ngIf="czyWypozyczony"style="color: red">{{ALERT_NIEDOSTEPNY_SAMOCHOD}}</span>
    </div>
    <div class="card-body" style="width: auto">
      <img src="{{ logo }}" style="height: 50%; width: 70%; float: right">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text"> {{ opis }}</p>
      <button class="btn btn-primary" [disabled]="czyWypozyczony" (click)="wypozyczSamochod()">
        Wypożycz samochód
      </button>
    </div>
  </div>

