.pojedynczySamochod {
  background-color: bisque;
}

.listaSamochodo {
  list-style-type: none;
}
 ul > li {
   display: inline-block;
   list-style-type:none;
   /*width: 200px !important;*/
   /*height: 200px !important;*/
}

 p{
   height: 40px;
 }
.card-img-top{
  height: 200px;
}
