<form [formGroup]="dodajSamochodForm" (ngSubmit)="sendForm(marka.value, model.value, opis.value, cenazadobe.value)">
  <div class="container">
    <h1>Dodaj samochod</h1>
    <div class="form-group row">
      <label >Marka</label>
          <input type="text" class="form-control" #marka formControlName="marka" placeholder="marka" name="marka">
      <p *ngIf="dodajSamochodForm.controls['marka'].invalid && dodajSamochodForm.controls['marka'].touched" class="alert alert-danger warrning">Marka jest wymagana</p>
    </div>

      <div class="form-group row">
        <label>Model</label>
            <input type="text" class="form-control" #model formControlName="model" placeholder="model" name="model">
            <p *ngIf="dodajSamochodForm.controls['model'].invalid && dodajSamochodForm.controls['model'].touched" class="alert alert-danger warrning">Model jest wymagany</p>
      </div>


      <div class="form-group row">
        <label>Opis</label>
            <input type="text" class="form-control" #opis formControlName="opis" placeholder="opis" name="opis">
            <p *ngIf="dodajSamochodForm.controls['opis'].invalid && dodajSamochodForm.controls['opis'].touched" class="alert alert-danger warrning">Opis jest wymagany</p>
      </div>


      <div class="form-group row">
        <label>Cena za dobę</label>
          <input type="text" class="form-control" #cenazadobe formControlName="cenaZaDobe" placeholder="cena za dobe"
                 name="cenazadobe">
          <p *ngIf="dodajSamochodForm.controls['cenaZaDobe'].invalid && dodajSamochodForm.controls['cenaZaDobe'].touched" class="alert alert-danger warrning">Cena za dobę jest wymagana</p>
      </div>

      <button class="btn-primary btn" type="submit" [disabled]="dodajSamochodForm.invalid">Dodaj nowy samochod</button>
    </div>
</form>
