<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Pokaż lub ukryj nawigację">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" style="color: white">
    <img src="assets/logo.jpg" width="32" height="32" class="d-inline-block align-top rounded" alt="idź na start webroad.pl" >
    Wypożyczalnia samochodów
  </a>

  <div class="collapse navbar-collapse" id="mainNavigation">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="przekierujNaStroneGlowna()" *ngIf="sprawdzCzyZalogowany()" style="color: white; cursor: pointer">Strona główna
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dodaj-samochod" *ngIf="czyToAdmin && sprawdzCzyZalogowany()" style="color: white">Dodaj samochod do wypożyczenia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/zaloguj" style="color: white">Zaloguj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dodaj_uzytkownika" *ngIf="czyToAdmin && sprawdzCzyZalogowany()" style="color: white">Dodaj użytkownika</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pobierz_samochody" *ngIf="sprawdzCzyZalogowany()" style="color: white" >Wyswietl samochody do wypożyczenia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="sprawdzCzyZalogowany()" routerLink="/wyloguj" style="color: white">Wyloguj się!</a>
          </li>
        </ul>
  </div>
</nav>
