
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
  <a class="navbar-brand"><img alt="logo wypozyczalnia" src="assets/logo.jpg" style="width: 200px; height: 100px;"/></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Strona główna
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dodaj-samochod">Dodaj samochod do wypożyczenia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/zaloguj">Zaloguj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dodaj_uzytkownika">Dodaj użytkownika</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pobierz_samochody">Wyswietl samochody do wypożyczenia</a>
      </li>
    </ul>
  </div>
</nav>
