<h1 id="samochodyDoWypozyczeniaHeader">{{ samochodyDoWypozyczeniaLabel }}</h1>
<p *ngIf="samochody == null">{{ samochodyNotFound }}</p>
<li *ngFor="let x of samochody">
  <app-pojedynczy-samochod
    [id]="x.id"
    [cenaZaDobe]="x.cenaZaDobe"
    [czyWypozyczony]="x.czyWypozyczony"
    [logo]="x.logo"
    [marka]="x.marka"
    [model]="x.model"
    [opis]="x.opis"
    [czyPokazacPrzycisk]="czyPokazacPrzycisk"
  >
  </app-pojedynczy-samochod>
</li>
<app-paginacja (klikEvent)="odebranieEventuPaginacji($event)"></app-paginacja>
