<h1 id="samochodyDoWypozyczeniaHeader">Samochody do wypożyczenia</h1>
<p *ngIf="samochody == null">Nie znaleziono samochodow</p>
<li *ngFor="let x of samochody">
  <app-pojedynczy-samochod
    [id]="x.id"
    [cenaZaDobe]="x.cenaZaDobe"
    [czyWypozyczony]="x.czyWypozyczony"
    [logo]="x.logo"
    [marka]="x.marka"
    [model]="x.model"
    [opis]="x.opis"
  >
  </app-pojedynczy-samochod>
</li>
<app-paginacja [liczbaWynikowWyszukania]="samochody.length" (klikEvent)="odebranieEventuPaginacji($event)"> loading</app-paginacja>
