<div class="container">

</div>

<header>
  <h1>Cześć {{ idUzytkownikaZalogowanego }} - {{ imieUzytkownikaZalogowanego }} {{ nazwiskoUzytkownikaZalogowanego }}
    <span *ngIf="imieUzytkownikaZalogowanego == undefined || idUzytkownikaZalogowanego == undefined ||
     nazwiskoUzytkownikaZalogowanego == undefined"> musisz się jeszcze <a href routerLink="/zaloguj">zalogować</a> </span>
    <br>Witaj w mojej wypożyczalnia samochodow</h1>
</header>

<section>
  <h1 *ngIf="iloscPobranychSamochodow > 0 ">Twoje wypożyczone samochody</h1>
  <h1 *ngIf="iloscPobranychSamochodow == 0">Nie masz wypożyczonych samochodow</h1>
</section>
<li *ngFor="let x of samochodyDto">
  <app-pojedynczy-samochod
    [id]="x.id"
    [cenaZaDobe]="x.cenaZaDobe"
    [czyWypozyczony]="x.czyWypozyczony"
    [logo]="x.logo"
    [marka]="x.marka"
    [model]="x.model"
    [opis]="x.opis"
    [czyPokazacPrzycisk]="czyPokazacPrzycisk"
    [dataOd]="x.dataOd"
    [dataDo]="x.dataDo"
  >
  </app-pojedynczy-samochod>
</li>
