<!--<div class="container">-->
<!--  <form-->
<!--    [formGroup]="dodajUzytkownikaForm"-->
<!--    (ngSubmit)="zapisz(imie, nazwisko, nazwaUzytkownika, haslo)"-->
<!--  >-->
<!--    <div class="form-group row">-->
<!--      <label>-->
<!--        <b>Podaj imie: </b>-->
<!--      </label>-->
<!--        <input #imie class="form-control" />-->
<!--    </div>-->

<!--    <div class="form-group row">-->
<!--      <label>-->
<!--        <b>Podaj nazwisko: </b>-->
<!--      </label>-->
<!--      <input #nazwisko class="form-control-sm">-->
<!--    </div>-->

<!--    <div class="form-group row">-->
<!--      <label>-->
<!--        <b>Podaj nazwe uzytkownika: </b>-->
<!--      </label>-->
<!--      <input class="form-control-sm" #nazwaUzytkownika />-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--      <label>-->
<!--        <b>Podaj hasło: </b>-->
<!--      </label>-->
<!--      <input #haslo type="password" class="form-control-sm" />-->
<!--    </div>-->

<!--    <button type="submit" class="btn-primary btn">Zapisz użytkownika</button>-->
<!--  </form>-->
<!--</div>-->



<form [formGroup]="dodajUzytkownikaForm" (ngSubmit)="zapisz(imie, nazwisko, nazwaUzytkownika, haslo)">
  <div class="container">
    <h1>Dodaj nowego użytkownika</h1>
    <div class="form-group row">
      <label >Imię</label>
      <input type="text" class="form-control" #imie formControlName="imie" placeholder="imie" name="imie">
      <p *ngIf="dodajUzytkownikaForm.controls['imie'].invalid && dodajUzytkownikaForm.controls['imie'].touched" class="alert alert-danger warrning">Imię jest wymagane</p>
    </div>

    <div class="form-group row">
      <label>Nazwisko</label>
      <input type="text" class="form-control" #nazwisko formControlName="nazwisko" placeholder="nazwisko" name="nazwisko">
      <p *ngIf="dodajUzytkownikaForm.controls['nazwisko'].invalid && dodajUzytkownikaForm.controls['nazwisko'].touched" class="alert alert-danger warrning">Nazwisko jest wymagana</p>
    </div>


    <div class="form-group row">
      <label>Nazwa użytkownika</label>
      <input type="text" class="form-control" #nazwaUzytkownika formControlName="nazwaUzytkownika" placeholder="nazwa użytkownika" name="nazwaUzytkownika">
      <p *ngIf="dodajUzytkownikaForm.controls['nazwaUzytkownika'].invalid && dodajUzytkownikaForm.controls['nazwaUzytkownika'].touched" class="alert alert-danger warrning">Nazwa użytkownika jest wymagana</p>
    </div>


    <div class="form-group row">
      <label>Hasło</label>
      <input type="password" class="form-control" #haslo formControlName="haslo" placeholder="haslo" name="haslo">
      <p *ngIf="dodajUzytkownikaForm.controls['haslo'].invalid && dodajUzytkownikaForm.controls['haslo'].hasError('minlength') && dodajUzytkownikaForm.controls['haslo'].touched" class="alert alert-danger warrning">Hało musi zawierać przynajmniej 4 znaki</p>
    </div>

    <button class="btn-primary btn" type="submit" [disabled]="dodajUzytkownikaForm.invalid">Zapisz użytkownika</button>
  </div>
</form>



